<footer>
    <div class="footer-container">
                <lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_fjZqHf.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" hover loop  autoplay></lottie-player>
                <div class="next1">
               <h2>IIT Bhura</h2>
               <div class="social-sites">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
               </div>
               <p class="rights-text">&copy;<span> </span>2021 Corona virus All Rights Reserved.</p>
               </div>
    
                <div class="next2">
                    <h2>Contact Us</h2>
                    <span class="fas fa-map-marker-alt"></span><span>iitb@gmail.com</span>
                    <div class="phone">
                    <span class="fas fa-phone-alt"></span><span>687546575873</span>
                    </div>
                </div>
        </div> 
    </footer>