<header class="hero section-a">
    <div class="hero-inner"> 
        <h1 class="hero-title">IIT Bhura</h1>
        <h2 class="hero-subtitle">With world-class faculty, groundbreaking research opportunities, and a diverse group of talented students, IIT Bhura is more than just a place to get an education.</h2>
        <br>
        <h2 class="hero-subtitle">From bright and motivated students to engaging faculty members, these are some of the people who call IIT Bhura home.</h2>
        <br>
        <h1 class="hero-title">A place where everyone can thrive</h1>
        <br>
        <h2 class="hero-subtitle">
            At IIT Bhura, we are focused on creating a vibrant community of belonging by pursuing diversity, building inclusion, and creating more equitable opportunities for learning.
            
            </h2>
        
    </div>
  </header>