<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="/css/homepage1.css">
    <link rel="stylesheet" href="/css/course.css">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Comaptible" content="ie=edge"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
  <div class="fullbody">
  <div class="containerfull">
  <div class="menuhead">
  <img src="/img/logo3.png" style="width:16%; padding-top:.7%; padding-left:.5% " >
  <div class="navbar">

  <ul>
  <li><i class="fas fa-home"></i> <a href="/">Home</a></li>
  <li><i class="far fa-address-book"></i> <a href="#contact">Contact</a></li>
  <li><i class="fab fa-affiliatetheme"></i> <label for="administration">Portal</label>
        <select name="administration" id="administration"onchange="location = this.value;">
        <option value="/">Choose</option>
        <option value="/login">Students</option>
        <option value="/teacherlogin">Teacher</option>
        </select></li>
  <li><i class="fas fa-sign-in-alt"></i> <a href="/signup">SignIn</a></li>
  </ul>

  </div>
  </div>  

  <div class="contain">
  <div class="leftbox">
  <h1>Get your Education today!</h1>
  <div class="btn">
  <a href="#"><button>Online course</button></a>
  <a href="#"><button>Our Library</button></a>
  <a href="#"><button>Our Teacher</button></a>
  </div>
  </div>
  <div class="middlebox">
  <img src="/img/middle.png">
  </div>
  <div class="rightbox">
 
  <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_Fy9W8c.json"  background="transparent"  speed="1"  style="width: 420px; height: 400px;"  loop  autoplay></lottie-player>
  </div>
  </div>
  </div>
</div>
<hr>

<div class="course-container">
        <div class="intro">
        <p>Welcome, 2nd years!</p>
        <h2><span>Get access to all your course works, <br>study material and tests here!</span></h2>
<lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_6UtDs3.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" hover loop  autoplay></lottie-player>

    </div>
    <div class="courses">
        <div class="course1">
            <div class="contentcrse">
                <img class="contentcrse-image" src="/img/tech.png">
                <div class="contentcrse-details effect">
                <h3 class="contentcrse-title"><a href="">Analog <br>Communications</a> </h3>
                </div>
            </div>
        </div>
        <div class="course1">
            <div class="contentcrse">
                <img class="contentcrse-image" src="/img/tech.png">
                <div class="contentcrse-details effect">
                <h3 class="contentcrse-title"><a href="">Control <br> Systems</a></h3>
                </div>
            </div>
        </div>
        <div class="course1">
            <div class="contentcrse">
                <img class="contentcrse-image" src="/img/tech.png">
                <div class="contentcrse-details effect">
                <h3 class="contentcrse-title"><a href="">Analog <br>Communications</a> </h3>
                </div>
            </div>
        </div>
        <div class="course1">
            <div class="contentcrse">
                <img class="contentcrse-image" src="/img/tech.png">
                <div class="contentcrse-details effect">
                <h3 class="contentcrse-title"><a href="">Control <br> Systems</a></h3>
                </div>
            </div>
        </div>
        <div class="course1">
            <div class="contentcrse">
                <img class="contentcrse-image" src="/img/tech.png">
                <div class="contentcrse-details effect">
                <h3 class="contentcrse-title"><a href="">Analog <br>Communications</a> </h3>
                </div>
            </div>
        </div>
        <div class="course1">
            <div class="contentcrse">
                <img class="contentcrse-image" src="/img/tech.png">
                <div class="contentcrse-details effect">
                <h3 class="contentcrse-title"><a href="">Control <br> Systems</a></h3>
                </div>
            </div>
        </div>
        <div class="course1">
            <div class="contentcrse">
                <img class="contentcrse-image" src="/img/tech.png">
                <div class="contentcrse-details effect">
                <h3 class="contentcrse-title"><a href="">Analog <br>Communications</a> </h3>
                </div>
            </div>
        </div>
        <div class="course1">
            <div class="contentcrse">
                <img class="contentcrse-image" src="/img/tech.png">
                <div class="contentcrse-details effect">
                <h3 class="contentcrse-title"><a href="">Control <br> Systems</a></h3>
                </div>
            </div>
        </div>
        <div class="course1">
            <div class="contentcrse">
                <img class="contentcrse-image" src="/img/tech.png">
                <div class="contentcrse-details effect">
                <h3 class="contentcrse-title"><a href="">Control <br> Systems</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<%- include('partials/header.ejs') %>
<div class="gallery-container">
      <h2>GALLERY</h2>
      <div class="container">
          <div class="content">
              <div class="content-overlay"></div>
              <img class="content-image" src="/img/library.jpg">
              <div class="content-details effect">
                <h3 class="content-title">Library</h3>
                <p class="content-text">Get access to all your knowledge here. From E-bboks to novel we have all here </p>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="content">
              <div class="content-overlay"></div>
              <img class="content-image" src="/img/library.jpg">
              <div class="content-details effect">
                <h3 class="content-title">Library</h3>
                <p class="content-text">Get access to all your knowledge here. From E-bboks to novel we have all here </p>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="content">
              <div class="content-overlay"></div>
              <img class="content-image" src="/img/library.jpg">
              <div class="content-details effect">
                <h3 class="content-title">Library</h3>
                <p class="content-text">Get access to all your knowledge here. From E-bboks to novel we have all here </p>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="content">
              <div class="content-overlay"></div>
              <img class="content-image" src="/img/library.jpg">
              <div class="content-details effect">
                  <h3 class="content-title">Library</h3>
                  <p class="content-text">Get access to all your knowledge here. From E-bboks to novel we have all here </p>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="content">
              <div class="content-overlay"></div>
              <img class="content-image" src="/img/library.jpg">
              <div class="content-details effect">
                  <h3 class="content-title">Library</h3>
                  <p class="content-text">Get access to all your knowledge here. From E-bboks to novel we have all here </p>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="content">
              <div class="content-overlay"></div>
              <img class="content-image" src="/img/library.jpg">
              <div class="content-details effect">
                  <h3 class="content-title">Library</h3>
                  <p class="content-text">Get access to all your knowledge here. From E-bboks to novel we have all here </p>
              </div>
          </div>
      </div>
</div>
<%- include('partials/footer.ejs') %>
<script src="/js/gallery.js"></script>
</body>
</html>